.quiz.row
  .col-md-12
    %h2= @quiz.name
    .row
      .col-md-2
        = link_to 'Solve quiz', '#', class: 'btn btn-primary btn-block'
      .col-md-10
        - @quiz.questions.each_with_index do |question, index|
          .question.row
            .col-lg-12
              %p= "#{index+1}. #{question.text}"
              %ul
                - question.answers.each do |answer|
                  %li.answer= answer.text